<div class="container">
  <div class="row">
    <h1>cocktails</h1>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= link_to 'New cocktail', new_cocktail_path %>
